NODE_ENV=development

PORT=3000

DATABASE_URL="postgresql://username:your_password@localhost:5433/dbname?schema=public"

DOCKER_POSTGRES_USER=choose_a_user
DOCKER_POSTGRES_PASSWORD=choose_a_password
DOCKER_POSTGRES_DB=choose_a_db_name

JWT_ACCESS_SECRET="replace-with-a-long-random-secret"
JWT_REFRESH_SECRET="replace-with-another-long-random-secret"

JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

CORS_ORIGIN="http://localhost:5173"

LOG_LEVEL="debug"

ADMIN_EMAIL=""
ADMIN_PASSWORD=""
ADMIN_FIRST_NAME=""
ADMIN_LAST_NAME=""