NODE_ENV=development

PORT=3000

DATABASE_URL="postgresql://username:your_password@localhost:5433/dbname?schema=public"

DOCKER_POSTGRES_USER=choose_a_user
DOCKER_POSTGRES_PASSWORD=choose_a_password
DOCKER_POSTGRES_DB=choose_a_db_name